<!doctype html>
<html>
<body>
  <%- partial('header.ejs') %>
  <p>
  hello, resource: <%= resource.id %><br/>
  You are on plan: <%= resource.plan %><br/>
  You logged in as: <%= email %> 
  </p>
</body>
</html>
